.mobility-footer
	.mobility-footer-top
		.row
			ul.medium-block-grid-5.small-block-grid-2
				li
					ul About Us
						li 
							a(href='#') Our Story
						li
							a(href='#') Our Process
						li
							a(href='#') Our Team
				li
					ul Work
						li 
							a(href='#') Case Studies
						li
							a(href='#') Our Clients
				li
					ul Our Thoughts
						li 
							a(href='#') The Blog
						li
							a(href='#') The Podcast
				li							
					ul Careers
						li 
							a(href='#') Company Culture
						li
							a(href='#') Our Offices
						li
							a(href='#') Perks & Benefits
						li
							a(href='#') Available Positions
				li							
					ul Contact Us
						li 
							a(href='#') Hire Us
						li
							a(href='#') Work For Us
						li
							a(href='#') Learn More
	.mobility-footer-bottom
		.row
			.large-8.columns
				a.mobility-logo(href='http://www.mobility-labs.com')
			.large-4.columns
				ul
					li 
						i.fa.fa-github-alt.fa-lg
					li
						i.fa.fa-twitter.fa-lg
					li
						i.fa.fa-facebook.fa-lg
					li
						i.fa.fa-linkedin.fa-lg



// build:js js/vendor/libraries.min.js
// bower:js
script(src='bower_components/jquery/dist/jquery.js')
script(src='bower_components/fastclick/lib/fastclick.js')
// endbower
// endbuild
// build:js js/vendor/foundation.min.js
script(src="bower_components/foundation/js/foundation/foundation.js")
script(src="bower_components/foundation/js/foundation/foundation.abide.js")
script(src="bower_components/foundation/js/foundation/foundation.accordion.js")
script(src="bower_components/foundation/js/foundation/foundation.alert.js")
script(src="bower_components/foundation/js/foundation/foundation.clearing.js")
script(src="bower_components/foundation/js/foundation/foundation.dropdown.js")
script(src="bower_components/foundation/js/foundation/foundation.equalizer.js")
script(src="bower_components/foundation/js/foundation/foundation.interchange.js")
script(src="bower_components/foundation/js/foundation/foundation.joyride.js")
script(src="bower_components/foundation/js/foundation/foundation.magellan.js")
script(src="bower_components/foundation/js/foundation/foundation.offcanvas.js")
script(src="bower_components/foundation/js/foundation/foundation.orbit.js")
script(src="bower_components/foundation/js/foundation/foundation.reveal.js")
script(src="bower_components/foundation/js/foundation/foundation.slider.js")
script(src="bower_components/foundation/js/foundation/foundation.tab.js")
script(src="bower_components/foundation/js/foundation/foundation.tooltip.js")
script(src="bower_components/foundation/js/foundation/foundation.topbar.js")
// endbuild
// build:js js/app.min.js
script(src="js/app.js")
// endbuild