doctype html
html(class="no-js", lang="en")
    include header
    body
        include nav
        .row
            .small-12.small-centered.medium-10.medium-centered.large-12.large-centered.columns
                h1 Typography
                hr
                h1 h1 Sans serif
                h2 h2 Sans serif
                h3 h3 Sans serif
                h4 h4 Sans serif
                h5 h5 Sans serif
                h6 h6 Sans serif
                hr
                h1.serif h1 Serif
                h2.serif h2 Serif
                h3.serif h3 Serif
                h4.serif h4 Serif
                h5.serif h5 Serif
                h6.serif h6 Serif
                hr
                P Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pretium malesuada iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris consectetur tincidunt ex ut dictum. Mauris commodo, dolor congue blandit luctus, felis metus aliquet tellus, ut tincidunt turpis ipsum sit amet ex. Suspendisse potenti. Etiam quis tristique lectus, nec mattis odio. Nam cursus ut ante non eleifend. Donec sollicitudin maximus ex, a imperdiet dolor iaculis in. Curabitur sit amet metus et eros mattis ullamcorper et dictum lacus. Curabitur metus diam, ornare consequat malesuada sed, pellentesque a dui. Duis vehicula, nulla eget semper viverra, nisi ante dignissim massa, vel sollicitudin mi diam sit amet leo. Quisque vestibulum volutpat est, nec rutrum mauris molestie maximus. Donec est augue, commodo vel elit non, venenatis molestie nunc.
                    
        include footer