.fixed.contain-to-grid 
  nav.top-bar(data-topbar='data-topbar', role='navigation')
      ul.title-area
          li.name
            h1
              a(href='#') Mobility Labs Styleguide
          //
             Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone 
          li.toggle-topbar.menu-icon
            a(href='#')
              span Menu
        section.top-bar-section
          //
             Right Nav Section 
          ul.right
            li
              a(href='#') About Us
            li
              a(href='#') Work
            li
              a(href='#') Our Thoughts
            li
              a(href='#') Careers
            li
              a(href='#') Contact Us    
          //
             Left Nav Section 
